@charset "UFT-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
}
form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
fieldset {
    margin-bottom: 15px;
    padding: 10px;
}
legend {
    font-weight: bold;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}
input[type="file"] {
    margin-bottom: 15px;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}